body {
    background-color: lightblue;
}

h1 {
	background-color: white;
    color: black;
    text-align: center;
    /*margin-left: 20px;*/
    font-family: Monospace;
    font-size: 35px;
}

.P1.blocktext {
	margin-left: auto;
    margin-right: auto;
    width: 6em;
    /*text-align: center;*/
}

.P1 {
	font-size: 14px;
}

.div1 {
	border: 5px solid black;

	text-align: center;
	background-color: white;
}

.pied_de_page {
	font-size: 12px;
}